body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:322px;
  width:270px;
  height:34px;
}
#u2401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:355px;
  width:270px;
  height:1px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:332px;
  width:20px;
  height:19px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:265px;
  width:128px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:607px;
  width:294px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:352px;
  width:200px;
  height:1px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:338px;
  width:352px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:118px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:539px;
  width:352px;
  height:118px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:625px;
  width:200px;
  height:1px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:116px;
  width:139px;
  height:139px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:166px;
  width:40px;
  height:40px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:448px;
  width:270px;
  height:34px;
}
#u2423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:481px;
  width:270px;
  height:1px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:458px;
  width:20px;
  height:19px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:385px;
  width:270px;
  height:34px;
}
#u2429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:418px;
  width:270px;
  height:1px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:395px;
  width:20px;
  height:19px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:285px;
  width:200px;
  height:1px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:271px;
  width:352px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:285px;
  width:270px;
  height:179px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:1842px;
  top:300px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:96px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:322px;
  width:243px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:243px;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:418px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:418px;
  width:270px;
  height:1px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:418px;
  width:1px;
  height:46px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:418px;
  width:270px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:270px;
  word-wrap:break-word;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:486px;
  width:270px;
  height:179px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:1842px;
  top:501px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:96px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:523px;
  width:243px;
  height:96px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:243px;
  word-wrap:break-word;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:619px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:619px;
  width:270px;
  height:1px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:619px;
  width:1px;
  height:46px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:619px;
  width:270px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:270px;
  word-wrap:break-word;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:507px;
  width:20px;
  height:20px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:512px;
  width:10px;
  height:10px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:509px;
  width:30px;
  height:18px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:506px;
  width:20px;
  height:20px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:511px;
  width:10px;
  height:10px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:508px;
  width:30px;
  height:18px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:560px;
  width:20px;
  height:20px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:565px;
  width:10px;
  height:10px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:562px;
  width:30px;
  height:18px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:560px;
  width:20px;
  height:20px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:565px;
  width:10px;
  height:10px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:562px;
  width:30px;
  height:18px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:507px;
  width:44px;
  height:18px;
  color:#CCCCCC;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:561px;
  width:44px;
  height:18px;
  color:#CCCCCC;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:62px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:501px;
  width:380px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:515px;
  width:60px;
  height:1px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
